{{ header }}{{ column_left }}

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" form="form-shipping" id="estimateCost" data-link="{{ estimate_cost_href }}" data-toggle="tooltip" title='{{ estimate_cost }}' class="btn btn-info"><i class="fa fa-money"></i></button>
                <button type="submit" form="form-shipping" data-toggle="tooltip" title='{{ text_create_awb }}' class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>

            <h1>{{ heading_title_add_awb }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li> <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="page-header">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> Sameday - AWB </h3>
                </div>
                <div class="panel-body">
                    <div class="appendEstimateCost"></div>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-shipping" class="form-horizontal">
                        {% if awb_errors is not null %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <ul>
                                {% for error in awb_errors %}
                                <li>
                                    <strong> {{ error }} </strong>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <!-- AWB Options //-->
                        <div class="form-group">
                            <div style="font-size: 9.5pt; text-align: left;" class="col-sm-2 control-label"><b>{{ awb_options }}</b></div>
                        </div>

                        <!-- Insured Value //-->
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_insured_value_title }}">{{ entry_insured_value }}</span></label>
                            <div class="col-sm-6">
                                <input type="number" step="any" name="sameday_insured_value" value="0" min="0" class="form-control"/>
                                {% if error_insured_val is not null %}
                                    <div class="text-danger">{{ error_insured_val }}</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_packages_number_title }}">{{ entry_packages_number }}</span></label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" name="sameday_package_number" class="form-control input-number" id="sameday_package_qty" value="{{ (sameday_package_number != '') ? sameday_package_number : 0 }}" readonly>
                                    <span class="input-group-btn">
                                  <button type="button" class="btn btn-info btn-number" data-type="plus" data-field="sameday_package_qty" id="plus-btn">
                                      <span class="fa fa-plus"></span>
                                  </button>
                                </span>
                                </div>
                            </div>
                            <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_calculated_weight_title }}">{{ entry_calculated_weight }}</span></label>
                            <div class="col-sm-1">
                                <div class="input-group">
                                    <input type="number" step="any" value="{{ calculated_weight }}" readonly="readonly" class="form-control input-number"/>
                                </div>
                            </div>
                        </div>

                        <!-- Package Number //-->
                        <div class="form-group package_dimension_field">
                            <!-- append element here //-->
                        </div>

                        <!-- Observation //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_observation_title }}">{{ entry_observation }}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="sameday_observation" value="{{ sameday_observation }}" class="form-control"/>
                            </div>
                        </div>

                        <!-- Client Reference //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_client_reference_title }}">{{ entry_client_reference}}</span></label>
                            <div class="col-sm-10">
                                <input type="text" name="sameday_client_reference" value="{{ sameday_client_reference }}" class="form-control" />
                            </div>
                        </div>

                        <!-- Ramburs //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="sameday_ramburs">
                                <span data-toggle="tooltip" title="{{ entry_ramburs_title }}">
                                    {{ entry_ramburs }} <strong>({{ sameday_currency }})</strong>
                                </span>
                            </label>
                            <div class="col-sm-10">
                                <input type="number" step="any" name="sameday_ramburs" id="sameday_ramburs" value="{{ sameday_ramburs }}" class="form-control"/>
                                {% if repaymentCurrencyAlert is not null %}
                                <span>
                                        <strong style="font-weight: bolder; color: #9f0101">
                                            {{ repaymentCurrencyAlert }}
                                        </strong>
                                    </span>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Package Type //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status-sameday_package_type">
                                <span data-toggle="tooltip" title="{{ entry_package_type_title }}">{{ entry_package_type }}</span>
                            </label>
                            <div class="col-sm-10">
                                <select name="sameday_package_type" id="input-status-sameday-package-type" class="form-control">
                                    {% for _packageType in packageTypes %}
                                    <option value="{{ _packageType['value'] }}" {% if _packageType['value'] == sameday_package_type %} selected="selected" {% endif %} > {{ _packageType['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!--  Awb Service //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status-sameday_service">
                                <span data-toggle="tooltip" title="{{ entry_service_title }}">{{ entry_service }}</span>
                            </label>
                            <div class="col-sm-10">
                                <select name="sameday_service" id="input-status-sameday_service" class="form-control">
                                    {% for service in services %}
                                            <option
                                                value="{{ service.sameday_id }}" {% if (service.sameday_id == default_service_id)  %}
                                                selected="selected" {% endif %}
                                                data-service_eligible_to_locker="{{ service.service_eligible_to_locker }}"
                                                data-service_eligible_to_pdo="{{ service.service_eligible_to_pdo }}"
                                            > {{ service.sameday_name }}
                                            </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Locker FirstMile //-->
                        <div class="form-group" id="showPDO" style="display: {{ showPDO }}">
                            <label class="col-sm-2 control-label" for="input-status-sameday_locker_first_mile">
                                <span data-toggle="tooltip" title="{{ entry_locker_first_mile_title }}">{{ entry_locker_first_mile }} <a href="https://sameday.ro/easybox#lockers-intro">(Show on map)</a></span>
                            </label>
                            <div class="col-sm-1">
                                <input type="checkbox" class="form-control" value="{{ pdo_code }}" name="sameday_locker_first_mile" id="input-status-sameday_locker_first_mile">
                            </div>
                            <div class="col-sm-9">
                                <div class="custom_tooltip"> Lockers box dimensions
                                    <span class="tooltiptext">
                                        <div class="table-responsive"><table class="table table-bordered table-hover"> <thead> <tr> <td></td><td style="text-align: center;"> L</td><td style="text-align: center;"> l</td><td style="text-align: center;"> h</td></tr></thead> <tbody> <tr> <td>Small (cm)</td><td style="text-align: center;"> 47</td><td style="text-align: center;"> 44.5</td><td style="text-align: center;"> 10</td></tr><tr> <td>Medium (cm)</td><td style="text-align: center;"> 47</td><td style="text-align: center;"> 44.5</td><td style="text-align: center;"> 19</td></tr><tr> <td>Large (cm)</td><td style="text-align: center;"> 47</td><td style="text-align: center;"> 44.5</td><td style="text-align: center;"> 39</td></tr></tbody> </table></div>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!--// Show Locker Details -->
                        <div class="form-group" id="showLockerDetails" style="display: {{ showLockerDetails }}">
                            <label class="col-sm-2 control-label" for="input-status-sameday-locker_details"><span data-toggle="tooltip" title="{{ entry_locker_details_title }}">{{ entry_locker_details }}</label>
                            <div class="col-sm-10">
                                <span>
                                    <textarea class="form-control" disabled="disabled" id="input-status-sameday-locker_details"> {{ lockerDetails }} </textarea>
                                </span>
                                <br/>
                                <span>
                                    <script src="https://cdn.sameday.ro/locker-plugin/lockerpluginsdk.js"></script>
                                    <button type="button" class="btn btn-warning"
                                            id="changeLocker"
                                            data-country="{{ lockerPluginData.country }}"
                                            data-apiUsername="{{ lockerPluginData.apiUsername }}"
                                            data-city="{{ lockerPluginData.city }}"
                                    >
                                        {{ entry_locker_change }}
                                    </button>
                                    <input
                                            type="hidden"
                                            name="sameday_locker_id"
                                            id="input-status-sameday_locker_id"
                                            value="{{ lockerPluginData.lockerId }}"
                                    >
                                    <input
                                            type="hidden"
                                            name="sameday_locker_address"
                                            id="input-status-sameday_locker_address"
                                            value="{{ lockerPluginData.lockerAddress }}"
                                    >
                                </span>
                            </div>
                        </div>


                        <!-- Awb Payment //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status-sameday_awb_payment"><span data-toggle="tooltip" title="{{ entry_awb_payment_title }}">{{ entry_awb_payment }}</span></label>
                            <div class="col-sm-10">
                                <select name="sameday_awb_payment" id="input-status-sameday_awb_payment" class="form-control">
                                    {% for paymentType in awbPaymentsType %}
                                        <option value="{{ paymentType['value'] }}" {% if paymentType['value'] == sameday_awb_payment %} selected="selected" {% endif %}> {{ paymentType['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Pickup Point //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status-sameday-pickup_point"><span data-toggle="tooltip" title="{{ entry_pickup_point_title }}">{{ entry_pickup_point }}</span></label>
                            <div class="col-sm-10">
                                <select name="sameday_pickup_point" id="input-status-sameday-pickup_point" class="form-control">
                                    {% for pickupPoint in pickupPoints %}
                                        <option value="{{ pickupPoint['sameday_id'] }}" {% if (pickupPoint['sameday_id'] == sameday_pickup_point) or (pickupPoint['default_pickup_point'] == 1) %} selected="selected" {% endif %}>{{ pickupPoint['sameday_alias'] }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Third Party Pick-up //-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-status-sameday-third_party_pickup"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_title }}">{{ entry_third_party_pickup }}</span></label>
                            <div class="col-sm-10">
                                <select name="sameday_third_party_pickup" id="input-status-sameday-third_party_pickup" class="form-control">
                                    <option value="0"  {% if sameday_third_party_pickup == '0' %} selected="selected" {% endif %}> NO </option>
                                    <option value="1"  {% if sameday_third_party_pickup == '1' %} selected="selected" {% endif %}> YES </option>
                                </select>
                            </div>
                        </div>

                        <div class="thirt_party_pickup_address" style="display: none;">
                            <!-- Third Party Pickup County //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_county_title }}">{{ entry_third_party_pickup_county }}</span></label>
                                <div class="col-sm-10">
                                    <select name="sameday_third_party_pickup_county" id="input-status-sameday_third_party_pickup_county" class="form-control">
                                        {% for county in counties %}
                                        <option value="{{ county['name'] }}" {% if county['name'] == sameday_third_party_pickup_county %} selected="selected" {% endif %} > {{ county['name'] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <!-- Third Party Pickup City //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_city_title }}">{{ entry_third_party_pickup_city }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="sameday_third_party_pickup_city" value="{{ sameday_third_party_pickup_city }}" class="form-control"/>
                                    {% if error_third_party_pickup_city is not null %}
                                    <div class="text-danger">{{ error_third_party_pickup_city }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Third Party Pickup Address //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_address_title }}">{{ entry_third_party_pickup_address }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="sameday_third_party_pickup_address" value="{{ sameday_third_party_pickup_address }}" class="form-control"/>
                                    {% if error_third_party_pickup_address is not null %}
                                    <div class="text-danger">{{ error_third_party_pickup_address }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Third Party Pickup Name //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_name_title }}">{{ entry_third_party_pickup_name }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="sameday_third_party_pickup_name"  value="{{ sameday_third_party_pickup_name }}" class="form-control"/>
                                    {% if error_third_party_pickup_name is not null %}
                                    <div class="text-danger">{{ error_third_party_pickup_name }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Third Party Pickup Phone //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_pickup_phone_title }}">{{ entry_third_party_pickup_phone }}</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="sameday_third_party_pickup_phone" value="{{ sameday_third_party_pickup_phone }}" class="form-control"/>
                                    {% if error_third_party_pickup_phone is not null %}
                                    <div class="text-danger">{{ error_third_party_pickup_phone }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Third Party Pickup Person Type //-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status-sameday-third-party-person_type"><span data-toggle="tooltip" title="{{ entry_third_party_person_type_title }}"></span>{{ entry_third_party_person_type }}</label>
                                <div class="col-sm-10">
                                    <select name="sameday_third_party_person_type" id="input-status-sameday-third-party-person_type" class="form-control">
                                        <option value="0" {% if sameday_third_party_person_type == "0" %} selected="selected" {% endif %}> {{ text_type_person_individual }} </option>
                                        <option value="1" {% if sameday_third_party_person_type == "1" %} selected="selected" {% endif %}> {{ text_type_person_business }} </option>
                                    </select>
                                </div>
                            </div>

                            <!--// Person Type Options -->
                            <div class="thirt_party_pickup_personType" style="display: none">

                                <!-- Third Party Pickup Company Name //-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_person_company_title }}">{{ entry_third_party_person_company }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sameday_third_party_person_company" value="{{ sameday_third_party_person_company }}" class="form-control"/>
                                        {% if error_third_party_person_company is not null %}
                                        <div class="text-danger">{{ error_third_party_person_company }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Third Party Pickup Company Cui //-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_person_cif_title }}">{{ entry_third_party_person_cif }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sameday_third_party_person_cif" value="{{ sameday_third_party_person_cif }}" class="form-control"/>
                                        {% if error_third_party_person_cif is not null %}
                                        <div class="text-danger">{{ error_third_party_person_cif }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Third Party Pickup Company ONRC //-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_person_onrc_title }}">{{ entry_third_party_person_onrc }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sameday_third_party_person_onrc" value="{{ sameday_third_party_person_onrc }}" class="form-control"/>
                                        {% if error_third_party_person_onrc is not null %}
                                        <div class="text-danger">{{ error_third_party_person_onrc }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Third Party Pickup Company Banca //-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_person_bank_title }}">{{ entry_third_party_person_bank }}</span></label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sameday_third_party_person_bank" value="{{ sameday_third_party_person_bank }}" class="form-control"/>
                                        {% if error_third_party_person_bank is not null %}
                                        <div class="text-danger">{{ error_third_party_person_bank }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- Third Party Pickup Company Iban //-->
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-key"><span data-toggle="tooltip" title="{{ entry_third_party_person_iban_title }}"></span>{{ entry_third_party_person_iban }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sameday_third_party_person_iban" value="{{ sameday_third_party_person_iban }}" class="form-control"/>
                                        {% if error_third_party_person_iban is not null %}
                                        <div class="text-danger">{{ error_third_party_person_iban }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <!--// End of Person Type Options -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '#changeLocker', (element) => {
        const clientId="b8cb2ee3-41b9-4c3d-aafe-1527b453d65e";

        const _getAttribute = (_attribute) => {
            return element.target.getAttribute('data-' + _attribute);
        }

        const country = _getAttribute('country');
        const apiUsername = _getAttribute('apiUsername');
        const city = _getAttribute('city');

        const LockerPlugin = window['LockerPlugin'];

        LockerPlugin.init({
            clientId: clientId,
            countryCode: country,
            langCode: country,
            theme: 'light', // Hard-coded
            apiUsername: apiUsername,
            city: city,
        });

        const LockerPluginInstance = LockerPlugin.getInstance();

        LockerPluginInstance.open();

        LockerPluginInstance.subscribe((locker) => {
            $('#input-status-sameday-locker_details').val(locker.name);
            $('#input-status-sameday_locker_id').val(locker.lockerId);
            $('#input-status-sameday_locker_address').val(locker.address);

            LockerPluginInstance.close();
        });
    });

    // Change service:
    $(document).on('change', '#input-status-sameday_service', (element) => {
        const _target = element.target;
        const currentService = _target.options[_target.selectedIndex];
        const showLockerFirstMile = document.getElementById('showPDO');
        const showLockerDetails = document.getElementById('showLockerDetails');
        const lockerFirstMileElem = document.getElementById('input-status-sameday_locker_first_mile');

        /* Uncheck Locker FirstMile Element */
        lockerFirstMileElem.checked = false;

        /* Toggle Element */
        showLockerDetails.style.display = currentService.getAttribute('data-service_eligible_to_locker');
        showLockerFirstMile.style.display = currentService.getAttribute('data-service_eligible_to_pdo');
    });

    $(document).on('click', '#estimateCost', function() {
        link = $(this).data('link');
        url = new URL(window.location.href);
        token = url.searchParams.get("user_token");
        order_id = url.searchParams.get("order_id");

        formData = new FormData($('#form-shipping')[0]);
        formData.append('order_id', order_id);

        $.ajax({
            url: link + '&user_token=' + token,
            data: formData,
            type: "POST",
            dataType: "JSON",
            processData: false,
            contentType: false,
            beforeSend: function(){
                $('.appendEstimateCost').html('<div class="loader">  </div>');
            },
            success: function( data ) {
                //console.log(data.errors);
                $('.appendEstimateCost').html(createMsgCost( data ));
            },
            error: function () {
                $('.appendEstimateCost').html('<b> Something went wrong </b>');
            }
        });
    });

    function createMsgCost( data ) {
        _msg = "";
        if (data.errors != null) {
            alertType = "alert-danger";
            data.errors.forEach(function(value) {
                _msg += "<li>\n" +
                    "<strong> " + value + "</strong>\n" +
                    "</li>\n";
            });
        } else {
            alertType = "alert-success";
            _msg += "<li>\n" +
                "<strong> " + data.success + "</strong>\n" +
                "</li>\n";
        }

        return "<div class=\"alert " + alertType + " fade in\">\n" +
            "<a href=\"#\" class=\"close\" data-dismiss=\"alert\">&times;</a>\n" +
            "<ul>\n" + _msg
        "</ul>\n" +
        "</div>";
    }

    $('#qty_input').prop('disabled', true);
    $('#plus-btn').click(function(e){
        e.preventDefault();
        $('#sameday_package_qty').val(parseInt($('#sameday_package_qty').val()) + 1 );
        if ($('#sameday_package_qty').val() > 9) {
            $('#sameday_package_qty').val(10);
        }

        createPackageDimensionField('+');
    });

    $(document).on('click','#removePackageDimensionField', function(){
        if (parseInt($('#sameday_package_qty').val()) > 1) {
            $(this).parents('.parcel').remove();
            $('#sameday_package_qty').val(parseInt($('#sameday_package_qty').val()) -1 );
        }
    });

    $('#plus-btn').trigger('click');

    function createPackageDimensionField(){
        var qty = parseInt($('#sameday_package_qty').val());

        var field = createField();

        $('.package_dimension_field').append(field);
    }

    function createField(weightValue = '', error_weight_class = '') {
        entry_package_dimension = "{{ entry_package_dimension }}";
        entry_weight = "{{ entry_weight }}";
        entry_width = "{{ entry_width }}";
        entry_length = "{{ entry_length }}";
        entry_height = "{{ entry_height }}";
        field = "<div class='parcel'><label class=\"col-sm-2 control-label\" for=\"input-length\">"+entry_package_dimension+"</label>\n" +
            "<div class=\"col-sm-10\" style='padding-bottom: 5px;'>\n" +
            "<div class=\"row\">\n" +
            "<div class=\"col-sm-2\">\n" +
            "<input type=\"number\" step=\"any\" name=\"sameday_package_weight[]\" value=\""+weightValue+"\" min=\"1\" placeholder=" + entry_weight + " id=\"input-length\" class=\"form-control input-number\" />\n" +
            "</div>\n" +
            "<div class=\"col-sm-2\">\n" +
            "<input type=\"number\" step=\"any\" name=\"sameday_package_width[]\" value=\"\" min=\"0\" placeholder=" + entry_width + " id=\"input-width\" class=\"form-control input-number\" />\n" +
            "</div>\n" +
            "<div class=\"col-sm-2\">\n" +
            "<input type=\"number\" step=\"any\" name=\"sameday_package_length[]\" value=\"\" min=\"0\" placeholder=" + entry_length + " id=\"input-width\" class=\"form-control input-number\" />\n" +
            "</div>\n" +
            "<div class=\"col-sm-2\">\n" +
            "<input type=\"number\" step=\"any\" name=\"sameday_package_height[]\" value=\"\" min=\"0\" placeholder=" + entry_height + " id=\"input-height\" class=\"form-control input-number\" />\n" +
            "</div>\n" +
            "<div class=\"col-sm-4\">\n" +
            "<span id='removePackageDimensionField'><i class='fa fa-remove pull-left' style='vertical-align: bottom; cursor: pointer; padding-top: 12px;'></i></span>\n" +
            "</div>\n" +
            "</div>\n" +
            "<div class=\""+error_weight_class+" text-danger\"></div>\n" +
            "</div>" +
            "</div>";

        return field;
    }

    function showPackageDimensionErrors(){
        {% if all_errors is not null %}
            nrOfparcels = "{{ sameday_package_weight|length }}";
            $('#sameday_package_qty').val(nrOfparcels);

            $('.package_dimension_field').html('');
            var packagesWeight = '{{ sameday_package_weight|json_encode }}';
            for (i = 0; i < nrOfparcels; i++) {
                var weight_value = JSON.parse(packagesWeight)[i];
                var error_weight_class = 'error_weight_class';
                field = createField(weight_value, error_weight_class);
                $('.package_dimension_field').append(field);
                if (weight_value == '' || weight_value == 0) {
                    $('.' + error_weight_class).html("{{ error_weight }}");
                } else {
                    $('div').removeClass(error_weight_class);
                }
            }
        {% endif %}
    }

    window.onload = showPackageDimensionErrors();

    $(document).on('change', '#input-status-sameday-third_party_pickup', function(){
        var thirdPartyPickUp = $('#input-status-sameday-third_party_pickup').val();
        if (thirdPartyPickUp == 1) {
            $('.thirt_party_pickup_address').css("display", "block");
        } else {
            $('.thirt_party_pickup_address').css("display", "none");
            $('.error_thirdPartyMandatoryFields').css("display", "none");
        }
    });
    $('#input-status-sameday-third_party_pickup').trigger('change');

    $(document).on('change', '#input-status-sameday-third-party-person_type', function(){
        var personType = $('#input-status-sameday-third-party-person_type').val();
        if (personType == 1) {
            $('.thirt_party_pickup_personType').css("display", "block");
        } else {
            $('.thirt_party_pickup_personType').css("display", "none");
        }
    });
    $('#input-status-sameday-third-party-person_type').trigger('change');


</script>

{{ footer }}

<style>
    /* Locker Dimensions Tooltip */
    .custom_tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }

    .custom_tooltip .tooltiptext {
        visibility: hidden;
        width: auto;
        background: #f6f5f5;
        color: #000000;
        text-align: center;
        border-radius: 5px;
        padding: 5px;

        /* Position the custom_tooltip */
        position: absolute;
        z-index: 10000;
    }

    .custom_tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .input-number {
        text-align: center;
    }

    .loader {
        border: 3.2px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3.2px solid #3498db;
        width: 24px;
        height: 24px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
