{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-custom" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_success %}
        <div class="alert alert-success"><i class="fa fa-check"></i> {{ error_success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if error_warning %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }} </h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custom" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-username">{{ entry_username }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="shipping_sameday_username" value="{{ sameday_username }}" placeholder="{{ entry_username }}" id="input-username" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-password">{{ entry_password }}</label>
                        <div class="col-sm-10">
                            <input type="password" name="shipping_sameday_password" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-tax-class">{{ entry_tax_class }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_sameday_tax_class_id" id="input-tax-class" class="form-control">
                                <option value="0">{{ text_none }}</option>
                                {% for tax_class in tax_classes %}
                                <option value="{{ tax_class.tax_class_id }}" {% if tax_class.tax_class_id == sameday_tax_class_id %} selected="selected" {% endif %}>{{ tax_class.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_sameday_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                <option value="{{ geo_zone.geo_zone_id }}" {% if  geo_zone.geo_zone_id == sameday_geo_zone_id%} selected="selected" {% endif %}>{{ geo_zone.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_sameday_status" id="shipping_sameday_status" class="form-control">
                                <option value="0" {% if sameday_status == false %} selected="selected" {% endif %}>{{ text_disabled }}</option>
                                <option value="1" {% if sameday_status == true  %} selected="selected" {% endif %}>{{ text_enabled }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_estimated_cost }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_sameday_estimated_cost" id="shipping_sameday_estimated_cost" class="form-control">
                                <option value="0" {% if sameday_estimated_cost == false %} selected="selected" {% endif %}>{{ text_disabled }}</option>
                                <option value="1" {% if sameday_estimated_cost == true  %} selected="selected" {% endif %}>{{ text_enabled }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_show_lockers_map }}</label>
                        <div class="col-sm-10">
                            <select name="shipping_sameday_show_lockers_map" id="shipping_sameday_show_lockers_map" class="form-control">
                                <option value="0" {% if sameday_show_lockers_map == false %} selected="selected" {% endif %}>{{ entry_interactive_map }}</option>
                                <option value="1" {% if sameday_show_lockers_map == true  %} selected="selected" {% endif %}>{{ entry_drop_down_list }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_locker_max_items }}</label>
                        <div class="col-sm-10">
                            <input type="number" step="1" min="1" name="shipping_sameday_locker_max_items" value="{{ sameday_locker_max_items }}" placeholder="{{ entry_locker_max_items }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="number" step="1" min="0" name="shipping_sameday_sort_order" value="{{ sameday_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-import-local-data">{{ entry_import_local_data }}</label>
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-success fa fa-download" id="input-import-local-data" data-href="{{ import_local_data_href }}" data-actions='{{ import_local_data_actions }}'>
                                {{ entry_import_local_data }}
                            </button>
                            <span id="importLocalDataSpinner" style="display: none; vertical-align: middle" class="loader"></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_services }} </h3>
                <a class="btn btn-primary" href="{{ service_refresh }}" data-toggle="tooltip" title="{{ text_services_refresh }}"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-left">{{ column_internal_name }}</td>
                                <td class="text-left">{{ column_name }}</td>
                                <td class="text-left">{{ column_price }}</td>
                                <td class="text-left">{{ column_price_free }}</td>
                                <td class="text-left">{{ column_status }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if services is empty  %}
                            <tr>
                                <td class="text-center" colspan="6">{{ text_services_empty }}</td>
                            </tr>
                            {% else  %}
                                {% for key, service in services %}
                                    <tr>
                                        <td>
                                            <a href="{{ service_links[key] }}"
                                               {% if service.column_ooh_label is not null %}
                                                    title="{{ service.column_ooh_label }}"
                                               {% endif %}
                                            >{{ service.sameday_name }}
                                            </a>
                                        </td>
                                        <td>{{ service.name }}</td>
                                        <td>{{ service.price }}</td>
                                        <td>{{ service.price_free }}</td>
                                        <td>{{ statuses[service.status]['text'] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_pickup_points }} </h3>
                <a class="btn btn-primary" href="{{ pickupPoint_refresh }}" data-toggle="tooltip" title="{{ text_services_refresh }}"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td class="text-left">{{ column_pickupPoint_samedayId }}</td>
                            <td class="text-left">{{ column_pickupPoint_alias }}</td>
                            <td class="text-left">{{ column_pickupPoint_city }}</td>
                            <td class="text-left">{{ column_pickupPoint_county }}</td>
                            <td class="text-left">{{ column_pickupPoint_address }}</td>
                            <td class="text-left">{{ column_pickupPoint_default_address }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if pickupPoints is empty  %}
                        <tr>
                            <td class="text-center" colspan="5">{{ text_pickup_points_empty }}</td>
                        </tr>
                        {% else %}
                            {% for key, pickupPoint in pickupPoints %}
                            <tr>
                                <td>{{ pickupPoint.sameday_id }}</td>
                                <td>{{ pickupPoint.sameday_alias }}</td>
                                <td>{{ pickupPoint.city }}</td>
                                <td>{{ pickupPoint.county }}</td>
                                <td>{{ pickupPoint.address }}</td>
                                <td>{{ pickupPoint.default_pickup_point == 1 ? yes : no }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Lockers -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_lockers }} </h3>
                <a class="btn btn-primary" href="{{ lockers_refresh }}" data-toggle="tooltip" title="{{ text_lockers_refresh }}"><i class="fa fa-refresh"></i></a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <td>{{ column_locker_name }}</td>
                            <td>{{ column_locker_county }}</td>
                            <td>{{ column_locker_city }}</td>
                            <td>{{ column_locker_address }}</td>
                            <td>{{ column_locker_lat }}</td>
                            <td>{{ column_locker_lng }}</td>
                            <td>{{ column_locker_postal_code }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if lockers is empty  %}
                            <tr>
                                <td class="text-center" colspan="7">{{ text_lockers_empty }}</td>
                            </tr>
                        {% else %}
                            {% for locker in lockers %}
                                <tr>
                                    <td>{{ locker.name }}</td>
                                    <td>{{ locker.county }}</td>
                                    <td>{{ locker.city }}</td>
                                    <td>{{ locker.address }}</td>
                                    <td>{{ locker.lat }}</td>
                                    <td>{{ locker.lng }}</td>
                                    <td>{{ locker.postal_code }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{{ footer }}

<script>
    $(document).ready(() => {
        $(document).on('click', '#input-import-local-data', (element) => {
            let _target = element.target;
            let _actions = JSON.parse(_target.getAttribute('data-actions')) ;
            let _url = _target.getAttribute('data-href');

            importLocalData(_url, _actions);
        });

        function importLocalData(_url = '', _actions = []) {
            const _action = _actions.shift();

            if (typeof _action === "undefined") {
                window.location.reload();

                return true;
            }

            doAjaxRequest(_url, _actions, _action);
        }

        const doAjaxRequest = (_url = '', _actions = [], _action = '') => {
            $.ajax({
                url: _url,
                type: "POST",
                dataType: "JSON",
                data: jQuery.param({ 'action': _action}),
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                beforeSend: () => {
                    showSpinner(true);
                    document.getElementById('input-import-local-data').setAttribute('disabled', true);
                },
                success: () => {
                    showSpinner(false);

                    importLocalData(_url, _actions, _action);
                },
                error: () => {
                    showSpinner(false);
                }
            });
        }

        const showSpinner = (isShow = false) => {
            let spinner = document.getElementById('importLocalDataSpinner');
            spinner.style.display = 'none'

            if (true === isShow) {
                spinner.style.display = 'inline-block';
            }
        }
    });
</script>

<style>
    .loader {
        margin: 5px;
        width: 18px;
        height: 18px;
        border: 4px solid #515151;
        border-bottom-color: #8fbb6c;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
